.container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	overflow: hidden;
}

.game-space {
	float: left;
	width: 33.3333%;
	height: 150px;
	border: #000 1px solid;
	box-sizing: border-box;
	text-align: center;
	line-height: 150px;
	font-size: 5em;
}